# Blood Lipid Profile Test Generator 

### Description

Number of Instances:
30000

Data Set Characterstics : 
Multivariate

Attribute Characterstics: 
Categorical, Real, Integer

Associate Tasks:
Classification

Area:
Life

Number of Attributes:
12

### Source 

Creator:

1. Tamir Suliman tsulima2@gmu.edu


### Information 

This database contains attributes 


### Important Attribute Information

Complete attribute documentation:

1.  id: patient identification number
2.  age: age in years
3.  sex: sex (1 = male; 0 = female)
4.  cp: chest pain type
5.  trestbps: resting blood pressure (in mm Hg on admission to the hospital)
6.  tchol: total cholestrol in mg/dL 
7.  ldl: LDL cholestrol  in mg/dL
8.  hdl: HDL Cholestrol in mg/dL
9.  trigly: Triglycerides ( 
10. tg2hdl: TG to HDL ratio 
11. dm: diabetic 
12. trestbps: resting blood pressure (in mm Hg on admission to the hospital)

In [137]:
## Cholesterol is measured in three categories:
# total cholesterol
# LDL, or ‘bad cholesterol”
# HDL, or ‘good cholesterol
# Calculations:
# Total Serum Cholestrol = LDL + HDL + 20% of Trig
# TG to HDL ratio = Total Cholestrol / HDL Cholestrol

import random
import numpy as np
import pandas as pd

# Number of Patients / Records initialization

N = 10000 # Number of Records
id = np.arange(0,N)

# General Attributes 

age = np.random.randint(18,70,size=N) # Age
sex = np.random.randint(2, size=N) # Sex Male = 1 , Female = 0

# Cholestrol Data Generation & Calculation 

ldl_cholestrol = np.random.randint(75,195, size=N)
hdl_cholestrol = np.random.randint(22,72,size=N)
tgly = np.random.randint(42,360,size=N)
total_chol = hdl_cholestrol + ldl_cholestrol + 0.2 * tgly 

# Round elements of the array to the nearest integer

total_chol = np.rint(total_chol)

# Other important Features

chest_pain = np.random.randint(4, size=N) 
# chest pain type 
# angina – chest pain caused by restricted blood flow to the heart muscle
# -- Value 1: typical angina
# -- Value 2: atypical angina
# -- Value 3: non-anginal pain
# -- Value 4: asymptomatic

#############################################################

trestbps = np.random.randint(94,170,size=N)  # resting blood pressure (in mm Hg on admission to the hospital)

# History of Diabetes 

dm = np.random.randint(2, size=N) # (1 = history of diabetes; 0 = no such history)

# Target Risk Predicted Value 

target = np.random.randint(2,size=N)

# Other attributes  not included 

# hyber tensive
# Hymaglobeen  normal ::  less :: function  - transfer oxygen to lee ansga  symptoms 
# Platlet count

# Join all  data

df = pd.DataFrame({'id':id, 'age':age, 'sex':sex,'cp':chest_pain,'chol':total_chol,'tgl':tgly,'hdl':hdl_cholestrol,'ldl':ldl_cholestrol,'dm':dm, 'target':target});

# Export generated data to CSV dataset file

df.to_csv(r'Blood_Lipid_Profile_Test_Fake_export.csv', index = False, header= True)

# Print the data 
df.head(1000)

      id  age  sex  cp   chol  tgl  hdl  ldl  dm  target
0      0   53    0   3  145.0  135   25   93   0       1
1      1   62    0   0  259.0  278   24  179   0       0
2      2   46    1   1  189.0  327   40   84   1       0
3      3   31    0   0  216.0  251   23  143   0       1
4      4   28    1   1  277.0  324   29  183   1       0
..   ...  ...  ...  ..    ...  ...  ...  ...  ..     ...
995  995   26    0   0  274.0  359   33  169   0       0
996  996   18    0   2  221.0  261   55  114   1       1
997  997   19    0   3  201.0  181   30  135   0       0
998  998   36    1   2  213.0  221   44  125   0       0
999  999   18    1   1  201.0  234   42  112   1       0

[1000 rows x 10 columns]